# Netflix 90s Movies EDA

This notebook stores and explains my python script for Datacamp's project exploring Netflix's database on 1990s movies.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [ ]:
# Read in the Netflix CSV as a DataFrame
netflix_df = pd.read_csv("netflix_data.csv")

## EDA parameters

Explore Netflix's dataset to understand more about movies in the 90s, and find the following:

* Most frequent movie duration saved as integer field called 'duration' 
* Count number of short Action movies released in the 90s and save this count as 'short_movie_count'

In [ ]:
duration = int(netflix_df['duration'].mean())
print(duration)

In [ ]:
netflix_df.dtypes # Check structure and data types

In [ ]:
# Set filtering to look for action movies in the 90s decade.
nineties_action = netflix_df[(netflix_df['release_year'] > 1990) & (netflix_df['release_year'] < 2000) & (netflix_df['genre'] == 'Action') & (netflix_df['type'] == 'movie')]
print(nineties_action)
nineties_action.head()

In [17]:
short_movie_count = 0 

for _, row in nineties_action.iterrows():
    if row['duration'] < 90:
        short_movie_count += 1 

print("Duration:", duration)
print("Count of short movies:", short_movie_count)

Duration: 117
Count of short movies: 6

In [18]:
print(nineties_action['title'])

print(netflix_df['genre'].unique())
print(netflix_df['type'].unique())
netflix_df.info()

2        Movie 2
8        Movie 8
11      Movie 11
18      Movie 18
24      Movie 24
27      Movie 27
31      Movie 31
36      Movie 36
38      Movie 38
41      Movie 41
55      Movie 55
70      Movie 70
71      Movie 71
88      Movie 88
89      Movie 89
93      Movie 93
96      Movie 96
97      Movie 97
99      Movie 99
104    Movie 104
107    Movie 107
134    Movie 134
144    Movie 144
166    Movie 166
179    Movie 179
182    Movie 182
186    Movie 186
193    Movie 193
204    Movie 204
208    Movie 208
232    Movie 232
240    Movie 240
245    Movie 245
283    Movie 283
285    Movie 285
286    Movie 286
288    Movie 288
289    Movie 289
294    Movie 294
297    Movie 297
Name: title, dtype: object
['Romance' 'Thriller' 'Action' 'Adventure' 'Comedy' 'Drama']
['movie']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       300 non-null    object
 1   type          300 non-null    object
 2   title         300 non-null    object
 3   director      300 non-null    object
 4   cast          300 non-null    object
 5   country       300 non-null    object
 6   date_added    300 non-null    object
 7   release_year  300 non-null    int64
 8   duration      300 non-null    int64
 9   description   300 non-null    object
 10  genre         300 non-null    object
dtypes: int64(2), object(9)
memory usage: 25.9+ KB